table {
  padding: 8px;
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
}

th {
  vertical-align: top;
  text-align: left;
  padding: 16px;
  color: grey;
}

td {
  padding: 12px;
  border-bottom: 1px solid black;
}

button {
  font-weight: bold;
  color: rgb(199, 1, 199);
  background-color: transparent;
  border-color: rgb(199, 1, 199);
  height: 26px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  color: azure;
  background-color: rgb(199, 1, 199);
  transition: 0.2s;
}
